.categoryExpandedHeader{
    position:relative;
    height:80px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:white;
    margin-top:80px;
    box-sizing: border-box;
    padding:0 8%;
}

.leftContainer{
    display:flex;
}

.rightContainer{
    display:flex;
}

.paletteOuter{
    width:42px;
    height:42px;
    margin-right:20px;
    border-radius:5px;
    overflow:hidden;
    display:grid;
    grid-template-rows: 44% 28% 17% 11%;
}

.hide{
    display:none;
}

.entriesIcon{
    height:20px;
    margin:0 6px 0 10px;
}

.entriesContainer{
    display:flex;
    align-items:center;
}