  .badge{
    display:flex;
    align-items:center;
    padding:8px 10px;
    border-radius:5px;
    box-sizing:border-box;
  }

  .firstBadge{
    background:#E9F2F9;
  }

  .secondBadge{
    background:#E9F2F9;
  }

  .thirdBadge{
    background:#E9F2F9;
  }

  .firstEntry{
    border-radius:12px 0 0 12px;
  }

  .likeButton{
    transition:.1s ease;
  }
  
  .likeButton:hover{
    background:rgb(234, 249, 255);
    transition:.2s ease;
    cursor:pointer;
  }

  .likeButton:active{
    transform:translateY(1px);
  }

  .likeButtonIcon{
    height:8px;
    margin-right:4px;
    animation:fadeIn .4s;
    animation-fill-mode: backwards;
  }

  .active{
    background:rgb(234, 249, 255);
  }

  .singleCard{
    border-radius:8px;
    box-shadow:0px 10px 40px -10px rgba(0,64,128,0.2);
  }

  .ribbon{
    position:absolute;
    left:10px;
    z-index: 1;
    background:pink;
    width:25px;
    height:30px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:0 0 3px 3px;
    font-size:10pt;
    font-weight:bold;
    background:#F5FCFF;
    transition:.1s linear;
  }

  .firstRibbon{
    background:#8885f3;
  }

  .crownIcon{
    width:15px;
  }


  @keyframes fadeIn{
    from{
      transform:scale(.4);
    }
    to{
      transform:scale(1);
    }
  }