
.EntryGridCard{
    border-radius:0 12px 12px 0;
}

.EntryGrid{
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    top:0;
    right:0;
    bottom:0;
    display:grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns:1fr 1fr;
    grid-gap:10px;
}

.EntryGrid div{
    border-radius:5px;
    position:relative;
    overflow:hidden;
}
