.navHeader{
    position:fixed;
    top:0;
    height:80px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 2%;
    z-index:5;
    background:white;
    box-shadow:0px 10px 40px -10px rgba(0,64,128,0.1);
    box-sizing:border-box;
}

.navHeaderLinks{
    display:flex;
}

.navHeaderLink{
    margin-left:25px;
    text-decoration: none;
    color:inherit;
    transition:.2s ease;
}

.navHeaderLink:hover{
    opacity:.7;
    transition:.2s ease;
}

.navHeaderLeft{
    display:flex;
}

.hideToggle{
    display:none;
}

.hexieLogo{
    height:35px;
   transition:.2s ease;
}

.hexieLogo:hover{
   filter:brightness(.8);
   transition:.2s ease;
}