
  .toggleWrapper{
    display:flex;
    align-items:center;
    margin-right:30px;
  }

  .toggleWrapper input{
      margin:0 15px;
  }
  
  .toggleWrapper h5{
      font-weight:bold;
  }
  
  input[type="checkbox"].toggleSwitch{
      margin-top:2px;
      font-size: 16px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      width: 3em;
      height: 1.5em;
      background: #8c82fc;
      border-radius: 3em;
      position: relative;
      cursor: pointer;
      outline: none;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      border:none;
    }
    
    input[type="checkbox"].toggleSwitch:checked{
      background: #f73859;
    }
    
    input[type="checkbox"].toggleSwitch:after{
      position: absolute;
      content: "";
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      background: #fff;
    transform: scale(.8);
      left: 0;
      top:0;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
    
    input[type="checkbox"].toggleSwitch:checked:after{
      left: calc(100% - 1.5em);
    }