body{
    background:#f9f9f9;
    color:#263646;
    font-weight: 400;
    font-style: normal; 
}

h1, h2, h3, h4, h5 , a, p{
    margin:0;
    
}

a{
    text-decoration: none;
}

h5 {
    font-weight:500;
    font-size:.8rem;
}

.mainLogo{
    text-decoration: none;
    color:inherit;
}

.Home{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding:0 5%;
    margin-top:80px;
}

.card{
    min-width:280px;
    background:white;
    padding:10px;
    box-sizing:border-box;
    border-radius:10px;
  }

.cardImageContainer{
    position:relative;
    width:100%;
    padding-bottom:75%;
    border-radius:5px;
    overflow:hidden;
}

.cardImage{
    position:absolute;
    height:100%;
    width:100%;
    right:0;
    left:0;
    top:0;
    bottom:0;
    animation:fadeIn .2s;
}

.cardInfo{
    display:flex;
    margin-top:10px;
    justify-content: space-between;
}

.cardInfoLeft{
    display:flex;
}

.cardInfo h5{
    display:inline-block;
}

.cardButtonPrimary{
    display:flex;
    align-items:center;
    color:white;
    padding:10px 10px;
    background:#263646;
    border-radius:5px;
    box-sizing:border-box;
    transition:.2s ease;
}

.cardButtonPrimary:hover{
    background:#8885f3;
    transition:.2s ease;
    cursor: pointer;
}

.cardButtonSecondary{
    display:flex;
    align-items:center;
    padding:10px 10px;
    border: 1px #E9F2F9 solid;
    border-radius:5px;
    box-sizing:border-box;
}

.cardButtonPrimary.large{
    padding:12px 15px;
}

.cardButtonSecondary.large{
    padding:12px 15px;
}

.cardInfoGrid{
    justify-content: flex-end;
}

.entryRow{
    border-radius:12px;
    display:flex;
    box-shadow:0px 10px 40px -10px rgba(0,64,128,0.2);
    overflow: hidden;
    background:white;
}

.expandCategoryButton a{
    color:white;
    padding:10px 10px;
    display:flex;
    align-items:center;
    background:#263646;
    border-radius:5px;
    box-sizing:border-box;
    text-decoration:none;
    transition:.2s ease;
}

.expandCategoryButton a:hover{
    background:#8885f3;
    transition:.2s ease;
}

@keyframes fadeIn {
    from{
        opacity:0;
        /* transform:translatey(10px) */
    }
    to{
        opacity:1;
        /* transform:translatey(0) */
    }
}