.CategoryCard{
    margin-right:30px;
    border-radius:12px;
    box-shadow:0px 10px 40px -10px rgba(0,64,128,0.2);
}

.paletteInner{
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    top:0;
    right:0;
    bottom:0;
    display:grid;
    grid-template-rows: 42% 25% 19% 15%;
}

.paletteBlock{
    display:flex;
    justify-content: center;
    align-items: center;
}

.paletteHex{
    padding:5px;
    background:rgba(0,0,0,.05);
    border-radius:5px;
    color:white;
    font-size:9pt;
    opacity:0;
    transition:.2s ease;
}

.paletteBlock:hover{
    cursor:pointer;
}

.paletteBlock:hover .paletteHex{
    opacity:1;
    transition:.2s ease;
}

.paletteHex:hover{
    background:rgba(0,0,0,.08);
}

.hideSubmit{
    display:none;
}

.entriesIcon{
    height:20px;
    margin:0 6px 0 10px;
}

.entriesContainer{
    display:flex;
    align-items:center;
}